{erl_opts, [debug_info]}.

{deps, [
    {sqlparser, {git, "https://github.com/altenwald/sqlparser", {branch, "master"}}},
    {unistring, {git, "https://github.com/altenwald/unistring", {branch, "master"}}}
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]},
    {doc, [
        {plugins, [
            {rebar_edown_plugin,
                {git, "git://github.com/altenwald/rebar_edown_plugin.git", {branch, "master"}}
            }
        ]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/altenwald/rdbms"}}
        ]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
